*.class
.project
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
1.8.jar
*.bat
Minkraft.jar
Obfuscated.jar
Original_lib/genson-1.3.jar
Original.jar
Obfuscated 1.8 - LMFAO.jar
Original_lib/asm-commons-5.0.4.jar
Original_lib/commons-io-2.4.jar
Original_lib/asm-5.0.4.jar
Original_lib/asm-tree-5.0.4.jar
*.html